/* Header Area */

#header-top {
  background-color: #e1e1e1;
  padding: 8px 0;
}
#header-top a {
  color: rgb(61, 59, 59);
}
#header-top img {
  max-width: 100%;
  margin: 0 auto;
  display: inline;
}
#header-top ul {
  list-style: none;
  margin-top: 8px;
}
#header-top ul li {
  display: inline;
}
#header-top ul li a {
  text-decoration: none;
  padding: 10px;
}
/* Navigation-top */

#menu a,
#menu-left a {
  color: rgb(61, 59, 59);
}
#menu-left {
  margin-top: -56px;
}
